.movie-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    text-align: center; /* Добавлен стиль */
  }
  
  /* Стили для заголовка фильма */
  .movie-card h2 {
    margin-top: 10px;
    font-size: 1.2em;
  }
  
  /* Стили для абзацев внутри карточки */
  .movie-card p {
    margin: 5px 0;
  }
  