.nav-buttons {
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  
.nav-buttons a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #3498db;
  color: #333;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

/* Добавим отступы и стили для кнопок навигации */
.nav-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
    
.nav-buttons a:hover {
  background-color: #2980b9;
}
    
    