.container.home, .container.basket {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  max-width: fit-content; /* Добавлен стиль максимальной ширины */
  text-align: center;
}

.container.about {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  max-width: fit-content; /* Добавлен стиль максимальной ширины */
  text-align: justify;
}

h2, h3 {
text-align: center;
}
  
p {
word-wrap: break-word; /* Добавлен стиль переноса слов */
}

/* стили для темной темы */
.container.home.dark, .container.about.dark, .container.basket.dark {
  background-color: #333;
  color: #fff;
}

/* стили для светлой темы */
.container.home.light, .container.about.light, .container.basket.light {
  background-color: #fff;
  color: #333;
}
