.filters-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}
  
.filters-container > div {
  margin-right: 10px;
}
  
.SearchFilter {
  display: flex;
  align-items: center;
}
  
.SearchFilter input {
  margin-right: 5px;
}

.selected-genres {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}
  
.selected-genre {
  background-color: #fff;
  border-radius: 3px;
  padding: 2px 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}